<ion-content [fullscreen]="true">
  <div style="background:#0c4a50;">
    <img style=" border-radius:0 0 100px 0;" src="../../assets/img/covid19-1.jpg" />
  </div>

  <div class="" style="z-index: 2000; margin-top: -50px; background:#0c4a50; position: relative;
   border-radius: 15px 0 0 0;">


    
      <ion-searchbar value="search for a country"></ion-searchbar>
    

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label class="ion-text-center" style="font-size:30px; font-weight: bolder;color: red;">
                  Infected
                </ion-label>
              </ion-item>
              <p style="text-align: center;font-size:25px; font-weight: bolder; color: red;"> 102868</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label class="ion-text-center" style="font-size:30px; font-weight: bolder; color: green;">
                  Recovered
                </ion-label>
              </ion-item>
              <p style="text-align: center;font-size:25px; font-weight: bolder;color: green;"> 102868</p>
            </ion-card-content>

          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label class="ion-text-center" style="font-size:30px; font-weight: bolder; color: red;">
                  Death
                </ion-label>
              </ion-item>
              <p style="text-align: center;font-size:25px; font-weight: bolder; color:red;"> 102868</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>