<ion-content [fullscreen]="true">
  <div style="background:#0c4a50;">
    <img style=" border-radius:0 0 100px 0;" src="../../assets/img/covid19-1.jpg" />
  </div>

  <div class="" style="z-index: 2000; margin-top: -50px; background:#0c4a50; position: relative;
   border-radius: 15px 0 0 0;">


    
      <ion-searchbar value="search for a country"></ion-searchbar>
    

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label class="ion-text-center" style="font-size:30px; font-weight: bolder;color: red;">
                  Infected
                </ion-label>
              </ion-item>
              <p style="text-align: center;font-size:25px; font-weight: bolder; color: red;"> 102868</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label class="ion-text-center" style="font-size:30px; font-weight: bolder; color: green;">
                  Recovered
                </ion-label>
              </ion-item>
              <p style="text-align: center;font-size:25px; font-weight: bolder;color: green;"> 102868</p>
            </ion-card-content>

          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label class="ion-text-center" style="font-size:30px; font-weight: bolder; color: red;">
                  Death
                </ion-label>
              </ion-item>
              <p style="text-align: center;font-size:25px; font-weight: bolder; color:red;"> 102868</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card style="margin-bottom:0;">
      <ion-card-title style="text-align: center;font-weight: bolder;font-size:medium;">Today Cases</ion-card-title>
      <ion-card-subtitle style="text-align: center;">05/6/2020</ion-card-subtitle>
      <ion-card>
     <ion-item>
       <ion-avatar slot="start">
         <img src="../../assets/img/red.png">
       </ion-avatar>
       <ion-label>
         <ion-label>Infected</ion-label>
         <h6>7676</h6>
       </ion-label>
     </ion-item>
   </ion-card>
   <ion-card>
     <ion-item>
       <ion-avatar slot="start">
         <img src="../../assets/img/green.png">
       </ion-avatar>
       <ion-label>
         <ion-label> Recovered</ion-label>
         <h6> 6678</h6>
       </ion-label>
     </ion-item>
   </ion-card>
   <ion-card style="margin-bottom:0;">
     <ion-item>
       <ion-avatar slot="start">
         <img src="../../assets/img/red.png">
       </ion-avatar>
       <ion-label>
         <ion-label>Death</ion-label>
         <h6> 67668</h6>
       </ion-label>
     </ion-item>
   </ion-card>
 </ion-card>
  </div>
 </ion-content>