<ion-content [fullscreen]="true">
  <div style="width:120px;height:120px ;margin-left: auto;margin-right: auto;margin-top: 35px;"> <img
      src="../../assets/img/stasa-04.png"></div>

  <p style="text-align: center; font-size: medium;font-style: italic;">v1.00</p>
  <p style="text-align: justify; font-size: smaller;font-weight: lighter; padding: 10px;">On Stasa,we are creating a
    platform that enables you check for the current
    numbers of this pandemic called Corona Virus (covid-19).We encourage you to stay home and stay safe. </p>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/instagram.png">
    </ion-avatar>
    <ion-label>
      <p>@mykel_norman</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/email.png">
    </ion-avatar>
    <ion-label>
      <h6> michaelaffirim@gmail.com</h6>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/whatsapp.png">
    </ion-avatar>
    <ion-label>
      <p>+233267857198</p>
    </ion-label>
  </ion-item>
  <p style="text-align: justify; font-size: smaller;font-weight: lighter; padding: 10px;color:coral ;margin-bottom: o;">Donate to help put
    Stasa On App Store.You can donate through mtn mobile money<br>if you are in USA
    or Europe,you can send your donations through <a href="https://www.sendwave.com/">sendwave</a>.</p>
 
  <p style="text-align: justify; font-size: smaller;font-weight: lighter;margin-top: o; padding: 10px;color:coral">
    Name:&nbsp;Michael&nbsp;Affirim<br>Number:&nbsp;+2330247857198</p>

  <div style="width:100px;height:100px ;margin-left: auto;margin-right: auto;"> <img
      src="../../assets/img/stasa-05.png"></div>
</ion-content>